.card {
  perspective: 150rem;
  position: relative;
  height: 48rem;
  margin-left: -15rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 48rem;
    transition: all 0.8s ease;
    position: absolute;
    width: 30rem;
    padding: 1rem;
    border-radius: 3px;

    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);

    &__front {
      background-image: linear-gradient(
        164deg,
        rgba(255, 255, 255, 1) 40%,
        rgba(74, 144, 226, 1)
      );
      text-align: center;
      margin: 0;
    }

    &__back {
      background-color: red;
      margin: 0;
      position: absolute;
      max-width: 30rem;
      height: 100%;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side__front {
    transform: rotateY(-180deg);
  }

  &:hover &__side__back {
    transform: rotateY(0);
  }

  &__front {
    &_name {
      text-transform: uppercase;
      font-weight: 700;
      //background-color: orange;
    }

    &_desription {
      //background-color: red;
      height: 30%;
      float: left;
      padding-top: 15%;
    }

    &_tech {
      //background-color: yellow;
    }

    &_lista {
      //background-color: green;
      height: 45%;
      display: flex;
      justify-content: center;
      flex-direction: row;

      & li {
        list-style: none;
        padding-top: 1.5rem;
        width: 15rem;

        &:first-child {
          margin-top: 2rem;
        }

        &:not(:last-child) {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
