.paragraph {
  font-size: 3.8rem;
  margin: auto;
  text-align: center;
  margin-top: 8rem;
  padding: 1rem;
  letter-spacing: .4rem;
}

.projects {
  width: 100%;
  background-color: white;
  height: 50rem;
  margin: auto;
  margin-top: 13rem;
  color: black;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  
}

.row {
  top: 0;
  left: 0;
  margin-top: 8rem;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  //background-color: orange;
}
